          <nav>
            <a href="{{ site.baseurl }}/index">Home</a>
<!--             <a href="{{ site.baseurl }}/cv">CV</a> -->
<!--             <a href="{{ site.baseurl }}/research_papers">Research</a> -->
            <a href="{{ site.baseurl }}/teaching">Teaching</a>
<!--             <a href="{{ site.baseurl }}/discussions">Discussions</a> -->
<!--             <a href="{{ site.baseurl }}/notebook">Notebook</a> -->
<!--             <a href="{{ site.baseurl }}/public_goods">Public Goods</a> -->
<!--             <a href="{{ site.baseurl }}/resources">Resources</a> -->
          </nav>
