article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

.mdl-tabs__tab {
	color: #555555;
}

.mdc-temporary-drawer:before {
	background: rgba(9, 30, 66, 0.6) !important;
}

/* MDL Alert */

div.aefis-mdl-alert.info {
	color: rgb(13, 60, 97);
	background-color: rgb(232, 244, 253);
}

div.aefis-mdl-alert.info .aefis-mdl-alert-icon {
	color: #1976d2;
}

div.aefis-mdl-alert.info .aefis-mdl-alert-contents {
	color: rgb(13, 60, 97);
}

div.aefis-mdl-alert.success {
	color: rgb(30, 70, 32);
	background-color: rgb(237, 247, 237);
}

div.aefis-mdl-alert.success .aefis-mdl-alert-icon {
	color: #4caf50;
}

div.aefis-mdl-alert.success .aefis-mdl-alert-contents {
	color: rgb(30, 70, 32);
}

div.aefis-mdl-alert.error {
	color: rgb(97, 26, 21);
	background-color: rgb(253, 236, 234);
}

div.aefis-mdl-alert.error .aefis-mdl-alert-icon {
	color: #f44336;
}

div.aefis-mdl-alert.error .aefis-mdl-alert-contents {
	color: rgb(97, 26, 21);
}

div.aefis-mdl-alert.warning {
	color: rgb(102, 60, 0);
	background-color: rgb(255, 244, 229);
}

div.aefis-mdl-alert.warning .aefis-mdl-alert-icon {
	color: #ff9800;
}

div.aefis-mdl-alert.warning .aefis-mdl-alert-contents {
	color: rgb(102, 60, 0);
}

div.aefis-mdl-alert {
	color: rgb(13, 60, 97);
	background-color: rgb(232, 244, 253);
	display: flex;
	padding: 6px 16px;
	font-weight: 400;
	line-height: 1.43;
	border-radius: 4px;
	letter-spacing: 0.01071rem;
}

div.aefis-mdl-alert .aefis-mdl-alert-icon {
	color: #1976d2;
	display: flex;
	opacity: 0.9;
	padding: 7px 0;
	font-size: 22px;
	margin-right: 0px;
}

div.aefis-mdl-alert .aefis-mdl-alert-icon i {
	width: 35px;
}

div.aefis-mdl-alert .aefis-mdl-alert-contents {
	padding: 8px 0;
	color: rgb(13, 60, 97);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.43;
}

div.aefis-mdl-alert .aefis-mdl-alert-title {
	margin-top: -2px;
	font-weight: 500;
	margin-bottom: 0.35em;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.00934em;
}

/*small chip */
.mdl-chip.small {
	height: 25px;
	line-height: 25px;
	background-color: #eee;
}
.mdl-chip.no-background {
	background-color: transparent !important;
}
.mdl-chip.small .mdl-chip__contact {
	height: 25px;
	width: 25px;
	line-height: 25px;
}

.mdl-chip.small .mdl-chip__contact i.material-icons {
	font-size: 18px;
}

/* font container */
.material-inline-font-container,
button.aefis-material-icon-button {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
}

/* action button  FAB */
.aefis-mdl-action-button.mdc-fab--plain {
	background: rgba(158, 158, 158, 0.2);
}

.aefis-mdl-action-button i.fa {
	font-size: 1.5em !important;
}

.aefis-mdl-action-button.mdc-elevation--z0 {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* simple menu */
.mdc-simple-menu .mdc-list-item {
	transition-delay: 0s !important;
}
.mdc-simple-menu .mdc-list-item:hover {
	background: #eeeeee;
}
.mdc-simple-menu {
	transition-duration: 0s !important;
}

/* quick filter */
ul.aefis-quick-filter-list {
	max-height: 300px;
	overflow-y: auto;
}

.aefis-quick-filter button {
	text-transform: none !important;
}

div.aefis-manager-tag-search .twitter-typeahead {
	display: inline !important;
}

div.aefis-manager-tag-search .aefis-tag-typeahead {
	margin-bottom: 0px !important;
	/* margin-top: 3px;*/
}

.aefis-quick-filter .mdc-button:hover {
	background-color: rgba(158, 158, 158, 0.2);
}

.aefis-quick-filter-menu.mdc-simple-menu {
	top: 35px !important;
	transition-duration: 0.3s;
}

.aefis-quick-filter-list {
	min-width: 115px;
}

/* generic overrides */

.mdl-data-table tbody tr:hover {
	background-color: #fcfcfc !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
	height: 4px;
}

td.mdl-data-table__cell--non-numeric,
th.mdl-data-table__cell--non-numeric {
	white-space: normal;
}

a.mdc-tab:hover,
a.mdc-tab:focus {
	text-decoration: none;
}

/* tag typeahead */
.aefis-mdc-false-field {
	height: 35px !important;
	padding: 4px 0px 5px 4px !important;
}
.aefis-mdc-tag-typeahead-container.full-width .twitter-typeahead,
.aefis-mdc-tag-typeahead-container.full-width .tt-menu {
	width: 100% !important;
}
.aefis-mdc-tag-typeahead.full-width.tt-input {
	width: 100% !important;
}
.aefis-mdc-tag-typeahead-container.full-width .tt-suggestion {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.aefis-mdc-tag-typeahead-container .aefis-mdc-type-ahead {
	right: 0px !important;
}

.aefis-mdc-tag-typeahead-container input {
	padding: 4px 0px 5px 4px !important;
	height: 35px !important;
}

.aefis-mdc-tag-typeahead-container .aefis-ajaxLoading:after {
	top: 8px !important;
}

.aefis-mdc-tag-typeahead-container .tt-suggestion:hover {
	cursor: pointer;
	color: #000;
	background-color: #f9f9f9;
}
