.aefis-goal-chart .aefis-goal-chart--bar {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	background: #fff;
	border: 3px solid #eee;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 20px;
	position: relative;
}

.aefis-goal-chart.small-goal-chart .aefis-goal-chart--bar {
	height: 20px !important;
	line-height: 20px !important;
	border: 2px solid #eee !important;
	padding: 4px !important;
	min-width: 120px;
	overflow: hidden;
}

.aefis-goal-chart.small-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--title {
	font-size: 11px !important;
	padding: 4px !important;
}

.aefis-goal-chart.small-goal-chart .aefis-goal-chart--bar--goal {
	height: 20px !important;
}

.aefis-goal-chart.small-goal-chart .aefis-goal-chart--bar--all {
	height: 20px !important;
}

.aefis-goal-chart.medium-goal-chart .aefis-goal-chart--bar {
	height: 25px !important;
	line-height: 25px !important;
}

.aefis-goal-chart.medium-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--title {
	font-size: 13px !important;
}

.aefis-goal-chart.medium-goal-chart .aefis-goal-chart--bar--goal {
	height: 25px !important;
}

.aefis-goal-chart.medium-goal-chart .aefis-goal-chart--bar--all {
	height: 25px !important;
}

.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--title {
	position: absolute;
	top: 0;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px;
	right: 0;
	left: 0;
	text-align: center;
	font-weight: bold;
	color: #000000;
}

.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--progress {
	display: block;
	height: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #64b5f6;
	position: relative;
	width: 0%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--progress.first-quarter {
	background-color: rgba(187, 0, 0, 0.5) !important;
}
.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--progress.second-quarter {
	background-color: rgba(255, 163, 25, 0.5) !important;
}
.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--progress.third-quarter {
	background-color: rgba(255, 215, 0, 0.5) !important;
}
.aefis-goal-chart .aefis-goal-chart--bar .aefis-goal-chart--bar--progress.fourth-quarter {
	background-color: rgba(1, 132, 49, 0.5) !important;
}

.aefis-goal-chart--bar--goal {
	position: absolute;
	height: 30px;
	width: 60%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: rgba(1, 132, 49, 0.4);
	opacity: 0.3;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	left: 5px;
}

.aefis-goal-chart--bar--all {
	position: absolute;
	height: 30px;
	left: 5px;
	right: 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #f5f5f5;
}

.aefis-goal-chart--bar--progress.p0 {
	width: 0% !important;
}
.aefis-goal-chart--bar--progress.p1 {
	width: 1% !important;
}
.aefis-goal-chart--bar--progress.p2 {
	width: 2% !important;
}
.aefis-goal-chart--bar--progress.p3 {
	width: 3% !important;
}
.aefis-goal-chart--bar--progress.p4 {
	width: 4% !important;
}
.aefis-goal-chart--bar--progress.p5 {
	width: 5% !important;
}
.aefis-goal-chart--bar--progress.p6 {
	width: 6% !important;
}
.aefis-goal-chart--bar--progress.p7 {
	width: 7% !important;
}
.aefis-goal-chart--bar--progress.p8 {
	width: 8% !important;
}
.aefis-goal-chart--bar--progress.p9 {
	width: 9% !important;
}
.aefis-goal-chart--bar--progress.p10 {
	width: 10% !important;
}
.aefis-goal-chart--bar--progress.p11 {
	width: 11% !important;
}
.aefis-goal-chart--bar--progress.p12 {
	width: 12% !important;
}
.aefis-goal-chart--bar--progress.p13 {
	width: 13% !important;
}
.aefis-goal-chart--bar--progress.p14 {
	width: 14% !important;
}
.aefis-goal-chart--bar--progress.p15 {
	width: 15% !important;
}
.aefis-goal-chart--bar--progress.p16 {
	width: 16% !important;
}
.aefis-goal-chart--bar--progress.p17 {
	width: 17% !important;
}
.aefis-goal-chart--bar--progress.p18 {
	width: 18% !important;
}
.aefis-goal-chart--bar--progress.p19 {
	width: 19% !important;
}
.aefis-goal-chart--bar--progress.p20 {
	width: 20% !important;
}
.aefis-goal-chart--bar--progress.p21 {
	width: 21% !important;
}
.aefis-goal-chart--bar--progress.p22 {
	width: 22% !important;
}
.aefis-goal-chart--bar--progress.p23 {
	width: 23% !important;
}
.aefis-goal-chart--bar--progress.p24 {
	width: 24% !important;
}
.aefis-goal-chart--bar--progress.p25 {
	width: 25% !important;
}
.aefis-goal-chart--bar--progress.p26 {
	width: 26% !important;
}
.aefis-goal-chart--bar--progress.p27 {
	width: 27% !important;
}
.aefis-goal-chart--bar--progress.p28 {
	width: 28% !important;
}
.aefis-goal-chart--bar--progress.p29 {
	width: 29% !important;
}
.aefis-goal-chart--bar--progress.p30 {
	width: 30% !important;
}
.aefis-goal-chart--bar--progress.p31 {
	width: 31% !important;
}
.aefis-goal-chart--bar--progress.p32 {
	width: 32% !important;
}
.aefis-goal-chart--bar--progress.p33 {
	width: 33% !important;
}
.aefis-goal-chart--bar--progress.p34 {
	width: 34% !important;
}
.aefis-goal-chart--bar--progress.p35 {
	width: 35% !important;
}
.aefis-goal-chart--bar--progress.p36 {
	width: 36% !important;
}
.aefis-goal-chart--bar--progress.p37 {
	width: 37% !important;
}
.aefis-goal-chart--bar--progress.p38 {
	width: 38% !important;
}
.aefis-goal-chart--bar--progress.p39 {
	width: 39% !important;
}
.aefis-goal-chart--bar--progress.p40 {
	width: 40% !important;
}
.aefis-goal-chart--bar--progress.p41 {
	width: 41% !important;
}
.aefis-goal-chart--bar--progress.p42 {
	width: 42% !important;
}
.aefis-goal-chart--bar--progress.p43 {
	width: 43% !important;
}
.aefis-goal-chart--bar--progress.p44 {
	width: 44% !important;
}
.aefis-goal-chart--bar--progress.p45 {
	width: 45% !important;
}
.aefis-goal-chart--bar--progress.p46 {
	width: 46% !important;
}
.aefis-goal-chart--bar--progress.p47 {
	width: 47% !important;
}
.aefis-goal-chart--bar--progress.p48 {
	width: 48% !important;
}
.aefis-goal-chart--bar--progress.p49 {
	width: 49% !important;
}
.aefis-goal-chart--bar--progress.p50 {
	width: 50% !important;
}
.aefis-goal-chart--bar--progress.p51 {
	width: 51% !important;
}
.aefis-goal-chart--bar--progress.p52 {
	width: 52% !important;
}
.aefis-goal-chart--bar--progress.p53 {
	width: 53% !important;
}
.aefis-goal-chart--bar--progress.p54 {
	width: 54% !important;
}
.aefis-goal-chart--bar--progress.p55 {
	width: 55% !important;
}
.aefis-goal-chart--bar--progress.p56 {
	width: 56% !important;
}
.aefis-goal-chart--bar--progress.p57 {
	width: 57% !important;
}
.aefis-goal-chart--bar--progress.p58 {
	width: 58% !important;
}
.aefis-goal-chart--bar--progress.p59 {
	width: 59% !important;
}
.aefis-goal-chart--bar--progress.p60 {
	width: 60% !important;
}
.aefis-goal-chart--bar--progress.p61 {
	width: 61% !important;
}
.aefis-goal-chart--bar--progress.p62 {
	width: 62% !important;
}
.aefis-goal-chart--bar--progress.p63 {
	width: 63% !important;
}
.aefis-goal-chart--bar--progress.p64 {
	width: 64% !important;
}
.aefis-goal-chart--bar--progress.p65 {
	width: 65% !important;
}
.aefis-goal-chart--bar--progress.p66 {
	width: 66% !important;
}
.aefis-goal-chart--bar--progress.p67 {
	width: 67% !important;
}
.aefis-goal-chart--bar--progress.p68 {
	width: 68% !important;
}
.aefis-goal-chart--bar--progress.p69 {
	width: 69% !important;
}
.aefis-goal-chart--bar--progress.p70 {
	width: 70% !important;
}
.aefis-goal-chart--bar--progress.p71 {
	width: 71% !important;
}
.aefis-goal-chart--bar--progress.p72 {
	width: 72% !important;
}
.aefis-goal-chart--bar--progress.p73 {
	width: 73% !important;
}
.aefis-goal-chart--bar--progress.p74 {
	width: 74% !important;
}
.aefis-goal-chart--bar--progress.p75 {
	width: 75% !important;
}
.aefis-goal-chart--bar--progress.p76 {
	width: 76% !important;
}
.aefis-goal-chart--bar--progress.p77 {
	width: 77% !important;
}
.aefis-goal-chart--bar--progress.p78 {
	width: 78% !important;
}
.aefis-goal-chart--bar--progress.p79 {
	width: 79% !important;
}
.aefis-goal-chart--bar--progress.p80 {
	width: 80% !important;
}
.aefis-goal-chart--bar--progress.p81 {
	width: 81% !important;
}
.aefis-goal-chart--bar--progress.p82 {
	width: 82% !important;
}
.aefis-goal-chart--bar--progress.p83 {
	width: 83% !important;
}
.aefis-goal-chart--bar--progress.p84 {
	width: 84% !important;
}
.aefis-goal-chart--bar--progress.p85 {
	width: 85% !important;
}
.aefis-goal-chart--bar--progress.p86 {
	width: 86% !important;
}
.aefis-goal-chart--bar--progress.p87 {
	width: 87% !important;
}
.aefis-goal-chart--bar--progress.p88 {
	width: 88% !important;
}
.aefis-goal-chart--bar--progress.p89 {
	width: 89% !important;
}
.aefis-goal-chart--bar--progress.p90 {
	width: 90% !important;
}
.aefis-goal-chart--bar--progress.p91 {
	width: 91% !important;
}
.aefis-goal-chart--bar--progress.p92 {
	width: 92% !important;
}
.aefis-goal-chart--bar--progress.p93 {
	width: 93% !important;
}
.aefis-goal-chart--bar--progress.p94 {
	width: 94% !important;
}
.aefis-goal-chart--bar--progress.p95 {
	width: 95% !important;
}
.aefis-goal-chart--bar--progress.p96 {
	width: 96% !important;
}
.aefis-goal-chart--bar--progress.p97 {
	width: 97% !important;
}
.aefis-goal-chart--bar--progress.p98 {
	width: 98% !important;
}
.aefis-goal-chart--bar--progress.p99 {
	width: 99% !important;
}
.aefis-goal-chart--bar--progress.p100 {
	width: 100% !important;
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}
