/*font sizes */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-75 { font-size: 75px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mdc-fab__icon {
    margin: auto;
}

.aefis-owner-icon {
    background-color: transparent !important;
}

.aefis-object-action {
    position: relative;
}

.aefis-object-action.spinner:before {
    position: relative !important;
    width: 18px !important;
    height: 18px !important;
    /*background-position: 8px 5px !important;*/
    background-size: 18px 18px !important;
    background: transparent url('/assets/images/preloaders/preloader.gif') no-repeat;
    content: " " !important;
    z-index: 999;
    margin: auto !important;
    vertical-align: middle !important;
    margin-bottom: 1px !important;
}

.aefis-object-owner:before {
    font-family: "Font Awesome\ 5 Free";
    font-style: normal;
    font-weight: 900;
    /*padding-left: 0.5em;*/
    border: none !important;
    margin-right: 0.2em;
    display: inline-block !important;
    text-decoration: none !important;
    color: inherit;
    content: "\f084";
    background: transparent !important;
    padding-right: 2px;
}

.aefis-object-action {
    -moz-osx-font-smoothing: grayscale;
    /* screenreaders */
    speak: none;
}

.aefis-object-action:before {
    font-family: "Font Awesome\ 5 Free";
    font-style: normal;
    font-weight: 900;
    /*padding-left: 0.5em;*/
    border: none !important;
    margin-right: 0.2em;
    display: inline-block !important;
    text-decoration: none !important;
    color: inherit;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /* screenreaders */
    speak: none;
}

.aefis-object-action.aefis-menu-icon:before {
    font-size: 1.2em !important;
}

.aefis-object-action.aefis-main-menu-icon:before {
    font-size: 18px !important;
}

/* object actions icons */

.aefis-object-action.tag:before {
    content: "\f02b";
}

.aefis-object-action.action:before {
    content: "\f02b";
}

.aefis-object-action.artifact-task:before {
    content: "\f0ae";
}

.aefis-object-action.artifact-note:before {
    content: "\f086";
}

.aefis-object-action.artifact-artifact:before {
    content: "\f086";
}

.aefis-object-action.datacollection:before {
    content: "\f201";
}

.aefis-object-action.publish:before {
    content: "\f00c";
}

.aefis-object-action.unpublish:before {
    content: "\f0e2";
}

.aefis-object-action.dashboard:before {
    content: "\f0e4";
}

.aefis-object-action.artifact-file:before {
    content: "\f187";
}

.aefis-object-action.comments:before {
    content: "\f086";
}

.aefis-object-action.signout:before {
    content: "\f2f6";
}

.aefis-object-action.tasks:before {
    content: "\f0ae";
}

.aefis-object-action.help:before {
    content: "\f059";
}

.aefis-object-action.admin:before {
    content: "\f0ad";
}

.aefis-object-action.system:before {
    content: "\f108";
}

.aefis-object-action.data:before {
    content: "\f1c0";
}

.aefis-object-action.termmanager:before {
    content: "\f274";
}

.aefis-object-action.settings:before {
    content: "\f085";
}

.aefis-object-action.book:before {
    content: "\f02d";
}

.aefis-object-action.sitemap:before {
    content: "\f0e8";
}

.aefis-object-action.meeting:before {
    content: "\f086";
}

.aefis-object-action.university:before {
    content: "\f19c";
}

.aefis-object-action.archive:before {
    content: "\f187";
}

.aefis-object-action.calendar:before {
    content: "\f073";
}

.aefis-object-action.accreditor:before {
    content: "\f19d";
}

.aefis-object-action.incentives:before {
    content: "\f145";
}

.aefis-object-action.trash:before {
    content: "\f014";
}

.aefis-object-action.facultycv:before {
    content: "\f0f6";
}

.aefis-object-action.refresh:before,
.aefis-object-action.reload:before,
.aefis-object-action.restore:before {
    content: "\f021";
}

.aefis-object-action.survey:before {
    content: "\f14a";
}

.aefis-object-action.assessment:before {
    content: "\f058";
}

.aefis-object-action.signin:before {
    content: "\f2f6";
}

.aefis-object-action.practicum:before {
    content: "\f0b1";
}

.aefis-object-action.program:before {
    content: "\f279";
}

.aefis-object-action.barchart:before {
    content: "\f080";
}

.aefis-object-action.scheduler:before {
    content: "\f271";
}

.aefis-object-action.manager:before {
    content: "\f0ce";
}

.aefis-object-action.surveytemplate:before {
    content: "\f303";
}

.aefis-object-action.question:before {
    content: "\f059";
}

.aefis-object-action.home:before {
    content: "\f015";
}

.aefis-object-action.rubrics:before {
    content: "\f1b3";
}

.aefis-object-action.accesslevel:before {
    content: "\f084";
}

.aefis-object-action.owner:before {
    content: "\f084";
}

.aefis-object-action.tags:before {
    content: "\f02c";
}

.aefis-object-action.unpublish:before {
    content: "\f0e2";
}

.aefis-object-action.publish:before {
    content: "\f058";
}

.aefis-object-action.libraryOpen:before {
    content: "\f054";
}

.aefis-object-action.versions:before {
    content: "\f126";
}

.aefis-object-action.update:before {
    content: "\f044";
}

.aefis-object-action.addUser:before {
    content: "\f234";
}

.aefis-object-action.document:before {
    content: "\f15c";
}

.aefis-object-action.libraryClose:before {
    content: "\f053";
}

.aefis-object-action.lock:before {
    content: "\f023";
}

.aefis-object-action.running:before {
    content: "\f017";
}

.aefis-object-action.time:before {
    content: "\f017";
}

.aefis-object-action.goalmet:before,
.aefis-object-action.complete:before
{
    content: "\f058";
}

.aefis-object-action.completed:before {
    content: "\f058";
    color: green;
}

.aefis-object-action.notcompleted:before {
    content: "\f058";
    color: #eee;
}

.aefis-object-action.goalmissed:before {
    content: "\f06a";
}

.aefis-object-action.filter:before {
    content: "\f0b0";
}

.aefis-object-action.remove:before {
    content: "\f057";
    color: red;
}

.aefis-object-action.exit:before {
    content: "\f00d";
}

.aefis-object-action.delete:before {
    content: "\f057";
    color: red;
}

.aefis-object-action.export:before {
    content: "\f14d";
}

.aefis-object-action.cancel:before {
    content: "\f057";
    color: red;
}

.aefis-object-action.upload:before {
    content: "\f382";
}

.aefis-object-action.download:before {
    content: "\f381";
}

.aefis-object-action.move:before {
    content: "\f0b2";
}

.aefis-object-action.user:before {
    content: "\f007";
}

.aefis-object-action.removeUser:before {
    content: "\f235";
}

.aefis-object-action.users:before {
    content: "\f0c0";
}

.aefis-object-action.manage:before {
    content: "\f022";
}

.aefis-object-action.date:before {
    content: "\f073";
}

.aefis-object-action.copy:before {
    content: "\f0c5";
}

.aefis-object-action.link:before {
    content: "\f0c1";
}

.aefis-object-action.view:before {
    content: "\f002";
}

.aefis-object-action.search:before {
    content: "\f002";
}

.aefis-object-action.edit:before {
    content: "\f303";
}

.aefis-object-action.enter:before {
    content: "\f303";
}

.aefis-object-action.add:before {
    content: "\f067";
    color: green;
}

.aefis-object-action.add-alt:before {
    content: "\f067";
}

.aefis-object-action.add-setting:before {
    content: "\f013";
}

.aefis-object-action.section:before {
    content: "\f0cb";
}

.aefis-object-action.connect:before {
    content: "\f0ec";
}

.aefis-object-action.add-existing:before {
    content: "\f00e";
}

.aefis-object-action.create:before {
    content: "\f067";
}

.aefis-object-action.import:before {
    content: "\f019";
}

.aefis-object-action.stop:before {
    content: "\f04d";
    color: red;
}

.aefis-object-action.hold:before,
.aefis-object-action.pause:before {
    content: "\f04c";
}

.aefis-object-action.start:before,
.aefis-object-action.restart:before {
    content: "\f04b";
    color: green;
}

.aefis-object-action.resume:before {
    content: "\f04b";
    color: green;
}

.aefis-object-action.results:before {
    content: "\f080";
}

.aefis-object-action.report:before {
    content: "\f080";
}

.aefis-object-action.resubmit:before {
    content: "\f0e2";
}

.aefis-object-action.unsubmit:before {
    content: "\f0e2";
}

.aefis-object-action.reopen:before {
    content: "\f274";
}

.aefis-object-action.email:before {
    content: "\f0e0";
}

.aefis-object-action.email-alt:before {
    content: "\f003";
}

.aefis-object-action.incentive:before {
    content: "\f145";
    color: orange;
}

.aefis-object-action.login:before {
    content: "\f007";
}

.aefis-object-action.permissions:before {
    content: "\f084";
}

.aefis-object-action.preview:before {
    content: "\f06e";
}

.aefis-object-action.showObject:before {
    content: "\f06e";
}

.aefis-object-action.hideObject:before {
    content: "\f070";
}

.aefis-object-action.details:before {
    content: "\f05a";
}

.aefis-object-action.jump:before {
    content: "\f149";
}

.aefis-object-action.expand:before {
    content: "\f065";
}

.aefis-object-action.compress:before {
    content: "\f066";
}

.aefis-object-action.required:before {
    content: "\f069";
    color: red;
}

.aefis-object-action.required-alt:before {
    content: "\f069";
}

.aefis-object-action.pdf:before {
    content: "\f1c1";
}

.aefis-object-action.pdfzip:before {
    content: "\f1c1";
}

.aefis-object-action.csv:before {
    content: "\f1c3";
}

.aefis-object-action.excel:before {
    content: "\f1c3";
}

.aefis-object-action.print:before {
    content: "\f02f";
}

.aefis-object-action.word:before {
    content: "\f1c2";
}
