:root {
	--mdc-theme-primary: #005C84;
	--mdc-theme-accent: #1976d2;
	--aefis-background-color--aefis-blue: #005C84;
	--aefis-background-color--aefis-orange: #F79500;
	--aefis-background-color--notification: #1976d2;
	--aefis-background-color--warning: #ff9800;
	--aefis-background-color--danger: #f44336;
	--aefis-background-color--success: #4caf50;
	--aefis-background-color--tip: #009688;
	--aefis-background-color--institution: #4caf50;
	--aefis-background-color--college: #673ab7;
	--aefis-background-color--department: #607d8b;
	--aefis-background-color--admindivision: #673ab7;
	--aefis-background-color--adminunit: #607d8b;
	--aefis-background-color--campus: #0747a6;
	--aefis-background-color--external: #c62828;
	--aefis-background-color--program: #1976d2;
	--aefis-background-color--gray: #9e9e9e;
	--aefis-background-color--light-gray: #eeeeee;
	--aefis-background-color--widget-list: rgba(76, 157, 204, 0.2);
	--aefis-background-color--boxed-content: #f9f9f9;
	--aefis-background-color--status-draft: #f44336;
	--aefis-background-color--status-in-progress: #4caf50;
	--aefis-background-color--status-new: #1976d2;
	--aefis-background-color--clo: #ff9800;
	--aefis-background-color--course-section-clo: #1976d2;

	--aefis-background-color--course-section: #ffc107;
	--aefis-background-color--course: #ef5350;

	--aefis-text-color--institution: #4caf50;
	--aefis-text-color--college: #673ab7;
	--aefis-text-color--department: #607d8b;
	--aefis-text-color--external: #c62828;
	--aefis-text-color--admindivision: #673ab7;
	--aefis-text-color--adminunit: #607d8b;

	--aefis-text-color--light: #ffffff;
	--aefis-text-color--dark: #000000;
	--aefis-text-color--medium: #555555;

	--aefis-chip-color--institution: #c8e6c9;
	--aefis-chip-color--institutional: #c8e6c9;
	--aefis-chip-color--college: #ede7f6;
	--aefis-chip-color--department: #cfd8dc;
	--aefis-chip-color--admindivision: #ede7f6;
	--aefis-chip-color--adminunit: #cfd8dc;
	--aefis-chip-color--course: #ffebee;
	--aefis-chip-color--coursesection: #fff3e0;
	--aefis-chip-color--program: #e3f2fd;
	--aefis-chip-color--accreditor: #f2dede;
	--aefis-chip-color--external: #f2dede;
	--aefis-chip-color--clo: #fff3e0;
	--aefis-chip-color--coursesectionclo: #e3f2fd;
}

.aefis-background-color--aefis-blue {
	background: #005C84;
	background-color: var(--aefis-background-color--aefis-blue) !important;
}

.aefis-background-color--aefis-orange {
	background: #F79500;
	background-color: var(--aefis-background-color--aefis-orange) !important;
}

.aefis-text-color--aefis-blue {
	color: #005C84;
}

.aefis-text-color--aefis-orange {
	color: #F79500;
}

/* error colors */

input[type="text"][required].aefis-form-validation-error {
	border: 2px dashed #b71c1c !important;
	background: #ffebee !important;
	color: #000 !important;
}

textarea[required].aefis-form-validation-error {
	border: 2px dashed #b71c1c !important;
	background: #ffebee !important;
	color: #000 !important;
}

button.selectpicker.aefis-form-validation-error {
	border: 2px dashed #b71c1c !important;
}

label.aefis-form-validation-error,
legend.aefis-form-validation-error {
	color: #b71c1c;
}

div.aefis-question-number-container.survey-number-container.aefis-form-validation-error {
	border-left: 4px solid #b71c1c !important;
}

div.relational-data-form-item-container.aefis-form-validation-error {
	border-left: 4px solid #b71c1c !important;
}

tr.aefis-form-validation-error {
	border-left: 6px solid #b71c1c !important;
}

div.program-requirement-rule-container.aefis-form-validation-error {
	border-left: 4px solid #b71c1c !important;
}

/* chip colors */
.aefis-chip-color--institution {
	background: #c8e6c9 !important;
	background-color: var(--aefis-chip-color--institution) !important;
	color: #1b5e20 !important;
}

.aefis-chip-color--institutional {
	background: #c8e6c9 !important;
	background-color: var(--aefis-chip-color--institutional) !important;
	color: #1b5e20 !important;
}

.aefis-chip-color--department {
	background: #cfd8dc !important;
	background-color: var(--aefis-chip-color--department) !important;
	color: #37474f !important;
}

.aefis-chip-color--college {
	background: #ede7f6 !important;
	background-color: var(--aefis-chip-color--college) !important;
	color: #4527a0 !important;
}

.aefis-chip-color--adminunit {
	background: #cfd8dc !important;
	background-color: var(--aefis-chip-color--adminunit) !important;
	color: #37474f !important;
}

.aefis-chip-color--admindivision {
	background: #ede7f6 !important;
	background-color: var(--aefis-chip-color--admindivision) !important;
	color: #4527a0 !important;
}

.aefis-chip-color--course {
	background: #ffebee !important;
	background-color: var(--aefis-chip-color--course) !important;
	color: #c62828 !important;
}
.aefis-chip-color--coursesection {
	background: #fff3e0 !important;
	background-color: var(--aefis-chip-color--coursesection) !important;
	color: #bf360c !important;
}

.aefis-chip-color--program {
	background: #e3f2fd !important;
	background-color: var(--aefis-chip-color--program) !important;
	color: #1565c0 !important;
}

.aefis-chip-color--accreditor {
	background: #f2dede !important;
	background-color: var(--aefis-chip-color--accreditor) !important;
	color: #b71c1c !important;
}

.aefis-chip-color--external {
	background: #f2dede !important;
	background-color: var(--aefis-chip-color--external) !important;
	color: #b71c1c !important;
}

.aefis-chip-color--clo {
	background: #fff3e0;
	background-color: var(--aefis-chip-color--clo) !important;
	color: #bf360c !important;
}

.aefis-chip-color--coursesectionclo {
	background: #e3f2fd;
	background-color: var(--aefis-chip-color--coursesectionclo) !important;
	color: #1565c0 !important;
}

/* end of chip colors */

.aefis-background-color--course-section {
	background: #ffc107 !important;
	background-color: var(--aefis-background-color--course-section) !important;
}

.aefis-background-color--course {
	background: #ef5350 !important;
	background-color: var(--aefis-background-color--course) !important;
}

/* background colors */
.aefis-background-color--boxed-content {
	background: #f9f9f9 !important;
	background-color: var(--aefis-background-color--boxed-content) !important;
}

.aefis-background-color--accent,
.aefis-background-color--notification,
.aefis-background-color--info,
.aefis-background-color--course-section-clo {
	background: #1976d2 !important;
	background-color: var(--aefis-background-color--notification) !important;
}

.aefis-background-color--gray {
	background: #9e9e9e !important;
	background-color: var(--aefis-background-color--gray) !important;
}

.aefis-background-color--light-gray {
	background: #eeeeee !important;
	background-color: var(--aefis-background-color--light-gray) !important;
}

.aefis-background-color--warning,
.aefis-background-color--clo {
	background: #ff9800 !important;
	background-color: var(--aefis-background-color--warning) !important;
}

.aefis-background-color--danger {
	background: #f44336 !important;
	background-color: var(--aefis-background-color--danger) !important;
}

.aefis-background-color--success {
	background: #4caf50 !important;
	background-color: var(--aefis-background-color--success) !important;
}

.aefis-background-color--tip {
	background: #009688 !important;
	background-color: var(--aefis-background-color--tip) !important;
}

.aefis-background-color--institution,
.aefis-background-color--institutional {
	background: #4caf50 !important;
	background-color: var(--aefis-background-color--institution) !important;
}

.aefis-background-color--college {
	background: #673ab7 !important;
	background-color: var(--aefis-background-color--college) !important;
}

.aefis-background-color--department {
	background: #607d8b !important;
	background-color: var(--aefis-background-color--department) !important;
}

.aefis-background-color--admindivision {
	background: #673ab7 !important;
	background-color: var(--aefis-background-color--admindivision) !important;
}

.aefis-background-color--adminunit {
	background: #607d8b !important;
	background-color: var(--aefis-background-color--adminunit) !important;
}

.aefis-background-color--external {
	background: #c62828 !important;
	background-color: var(--aefis-background-color--external) !important;
}

.aefis-background-color--program {
	background: #1976d2 !important;
	background-color: var(--aefis-background-color--program) !important;
}

.aefis-background-color--campus {
	background: #0747a6 !important;
	background-color: var(--aefis-background-color--campus) !important;
}

.aefis-background-color--status.aefis-status--in-progress,
.aefis-background-color--status.aefis-status--published,
.aefis-background-color--status.aefis-status--assigned,
.aefis-background-color--status.aefis-status--goalmet,
.aefis-background-color--status.aefis-status--running,
.aefis-background-color--status.in.progress,
.aefis-background-color--status.published,
.aefis-background-color--status.assigned,
.aefis-background-color--status.goalmet,
.aefis-background-color--status.running,
.aefis-status.in.progress,
.aefis-status-chip.in.progress,
.aefis-object-status.in.progress,
.aefis-status.assigned,
.aefis-object-status.assigned,
.aefis-status.published,
.aefis-object-status.published,
.aefis-status.published,
.aefis-object-status.published,
.aefis-quick-filter-param-chip.in.progress,
.aefis-quick-filter-param-chip.published,
.aefis-quick-filter-param-chip.assigned,
.aefis-quick-filter-param-chip.goalmet,
.aefis-quick-filter-param-chip.running,
.aefis-status-chip.in.progress,
.aefis-status-chip.published,
.aefis-status-chip.assigned,
.aefis-status-chip.goalmet,
.aefis-status-chip.running,
.aefis-status.running,
.aefis-object-status.running,
.aefis-status.goalmet,
.aefis-object-status.goalmet {
	background-color: #356635 !important;
	color: #ffffff;
}

.aefis-message-card--status-indicator.aefis-status--in-progress,
.aefis-message-card--status-indicator.aefis-status--published,
.aefis-message-card--status-indicator.aefis-status--assigned,
.aefis-message-card--status-indicator.aefis-status--goalmet,
.aefis-message-card--status-indicator.aefis-status--running {
	border-color: #356635 !important;
}
.aefis-background-color--status.aefis-status--new,
.aefis-background-color--status.new,
.aefis-status.new,
.aefis-status-chip.new,
.aefis-quick-filter-param-chip.new,
.aefis-object-status.new {
	background-color: #337ab7;
	/*#5bc0de*/
	color: #ffffff;
}

.aefis-message-card--status-indicator.aefis-status--new {
	border-color: #337ab7 !important;
}

.aefis-background-color--status.aefis-status--draft,
.aefis-background-color--status.aefis-status--error,
.aefis-background-color--status.aefis-status--terminated,
.aefis-background-color--status.aefis-status--incomplete,
.aefis-background-color--status.aefis-status--goalmissed,
.aefis-background-color--status.aefis-status--cancelled,
.aefis-background-color--status.aefis-status--stopped,
.aefis-background-color--status.draft,
.aefis-background-color--status.error,
.aefis-background-color--status.terminated,
.aefis-background-color--status.incomplete,
.aefis-background-color--status.goalmissed,
.aefis-background-color--status.cancelled,
.aefis-background-color--status.stopped,
.aefis-status.draft,
.aefis-object-status.draft,
.aefis-status.stopped,
.aefis-object-status.stopped,
.aefis-status.cancelled,
.aefis-object-status.cancelled,
.aefis-status.error,
.aefis-quick-filter-param-chip.draft,
.aefis-quick-filter-param-chip.error,
.aefis-quick-filter-param-chip.terminated,
.aefis-quick-filter-param-chip.incomplete,
.aefis-quick-filter-param-chip.goalmissed,
.aefis-quick-filter-param-chip.cancelled,
.aefis-quick-filter-param-chip.stopped,
.aefis-status-chip.draft,
.aefis-status-chip.error,
.aefis-status-chip.terminated,
.aefis-status-chipp.incomplete,
.aefis-status-chip.goalmissed,
.aefis-status-chip.cancelled,
.aefis-status-chip.stopped,
.aefis-object-status.error,
.aefis-status.terminated,
.aefis-status.incomplete,
.aefis-object-status.incomplete,
.aefis-status.goalmissed,
.aefis-object-status.goalmissed,
.aefis-object-status.terminated {
	background-color: #b94a48 !important;
	color: #fff;
}

.aefis-message-card--status-indicator.aefis-status--draft,
.aefis-message-card--status-indicator.aefis-status--error,
.aefis-message-card--status-indicator.aefis-status--terminated,
.aefis-message-card--status-indicator.aefis-status--incomplete,
.aefis-message-card--status-indicator.aefis-status--goalmissed,
.aefis-message-card--status-indicator.aefis-status--cancelled,
.aefis-message-card--status-indicator.aefis-status--stopped {
	border-color: #b94a48 !important;
}

.aefis-message-card--status-indicator.aefis-status--in-revision,
.aefis-message-card--status-indicator.aefis-status--requested,
.aefis-message-card--status-indicator.aefis-status--grades,
.aefis-message-card--status-indicator.aefis-status--pending-scores {
	border-color: #207994 !important;
}

.aefis-background-color--status.aefis-status--pending-scores,
.aefis-background-color--status.pending.scores,
.aefis-quick-filter-param-chip.pending.scores,
.aefis-status-chip.pending.scores,
.aefis-status.pending.scores,
.aefis-object-status.pending.scores {
	background-color: #207994 !important;
	color: #fff;
}

.aefis-background-color--status.aefis-status--archived,
.aefis-background-color--status.archived,
.aefis-quick-filter-param-chip.archived,
.aefis-status-chip.archived,
.aefis-status.archived,
.aefis-object-status.archived {
	background-color: #465760 !important;
	color: #fff;
}

.aefis-background-color--status.aefis-status--requested,
.aefis-background-color--status.aefis-status--in-revision,
.aefis-background-color--status.requested,
.aefis-background-color--status.in.revision,
.aefis-status-chip.requested,
.aefis-status-chip.in.revision,
.aefis-status.requested,
.aefis-object-status.requested,
.aefis-status.in.revision,
.aefis-quick-filter-param-chip.in.revision,
.aefis-object-status.in.revision {
	background-color: #207994;
	color: #fff;
}

.aefis-message-card--status-indicator.aefis-status--completed,
.aefis-message-card--status-indicator.aefis-status--unassigned,
.aefis-message-card--status-indicator.aefis-status--closed {
	border-color: #757575
}

.aefis-background-color--status.aefis-status--completed,
.aefis-background-color--status.aefis-status--unassigned,
.aefis-background-color--status.aefis-status--closed,
.aefis-background-color--status.completed,
.aefis-background-color--status.unassigned,
.aefis-background-color--status.closed,
.aefis-status-chip.completed,
.aefis-status-chip.unassigned,
.aefis-status-chip.closed,
.aefis-status.completed,
.aefis-object-status.completed,
.aefis-status.unassigned,
.aefis-object-status.unassigned,
.aefis-status.closed,
.aefis-object-status.closed {
	background-color: #757575;
	color: #fff;
}

.aefis-message-card--status-indicator.aefis-status--pending,
.aefis-message-card--status-indicator.aefis-status--pending-action,
.aefis-message-card--status-indicator.aefis-status--pendingaction,
.aefis-message-card--status-indicator.aefis-status--pending-results,
.aefis-message-card--status-indicator.aefis-status--on-hold,
.aefis-message-card--status-indicator.aefis-status--pendingstart,
.aefis-message-card--status-indicator.aefis-status--pending,
.aefis-message-card--status-indicator.aefis-status--pending-action {
	border-color: #faa732 !important;
}

.aefis-background-color--status.aefis-status--pending,
.aefis-background-color--status.aefis-status--on-hold,
.aefis-background-color--status.aefis-status--pendingstart,
.aefis-background-color--status.aefis-status--pendingaction,
.aefis-background-color--status.aefis-status--pending-action,
.aefis-background-color--status.aefis-status--faculty-pending,
.aefis-background-color--status.aefis-status--approval-pending,
.aefis-background-color--status.aefis-status--pending-results,
.aefis-background-color--status.aefis-status--pending-action,
.aefis-background-color--status.pending,
.aefis-background-color--status.pendingaction,
.aefis-background-color--status.pending.action,
.aefis-background-color--status.on.hold,
.aefis-background-color--status.pendingstart,
.aefis-background-color--status.pending,
.aefis-background-color--status.aefis-status--in-review,
.aefis-status-chip.pending,
.aefis-status-chip.on.hold,
.aefis-status-chip.pendingaction,
.aefis-status-chip.pending.action,
.aefis-status-chip.pendingstart,
.aefis-status-chip.pendingstartdate,
.aefis-status.pending,
.aefis-status.pendingaction,
.aefis-status.pending.action,
.aefis-status.pendingstartdate,
.aefis-object-status.pendingstartdate,
.aefis-object-status.pendingaction,
.aefis-object-status.pending.action,
.aefis-status.pendingstart,
.aefis-object-status.pendingstart .aefis-status.on.hold,
.aefis-object-status.on.hold,
.aefis-quick-filter-param-chip.pendingstart,
.aefis-quick-filter-param-chip.pending,
.aefis-quick-filter-param-chip.pendingaction,
.aefis-quick-filter-param-chip.pending.action,
.aefis-quick-filter-param-chip.pendingstartdate,
.aefis-quick-filter-param-chip.on.hold,
.aefis-object-status.pending.action,
.aefis-object-status.pending {
	background-color: #faa732 !important;
	color: #fff;
}

.aefis-message-card--status-indicator.aefis-status--approval-pending,
.aefis-message-card--status-indicator.aefis-status--results {
	border-color: #3285fa !important;
}

.aefis-background-color--status.aefis-status--approval-pending,
.aefis-background-color--status.aefis-status--results,
.aefis-background-color--status.approval.pending,
.aefis-background-color--status.results,
.aefis-status-chip.approval.pending,
.aefis-status-chip.results,
.aefis-status.approval.pending,
.pending.results,
.aefis-quick-filter-param-chip.approval.pending,
.aefis-object-status.approval.pending {
	background-color: #3285fa !important;
	color: #fff;
}

.aefis-message-card--status-indicator.aefis-status--active {
	border-color: #f15c75 !important;
}

.aefis-background-color--status.aefis-status--active,
.aefis-background-color--status.active,
.aefis-status-chip.active,
.aefis-status.active,
.aefis-object-status.active {
	background-color: #f15c75;
	color: #fff;
}

.aefis-message-card--status-indicator.inactive {
	border-color: #333;
}

.aefis-background-color--status.aefis-status--inactive,
.aefis-background-color--status.inactive,
.aefis-status-chip.inactive,
.aefis-status.inactive,
.aefis-object-status.inactive {
	background-color: #333;
	color: #fff;
}

.aefis-status-color.in.progress {
	color: #356635;
	width: 15.42px !important;
	height: 15px !important;
	background: transparent !important;
	overflow: inherit !important;
}

.aefis-status-color.published,
.aefis-status-color.running,
.aefis-status-color.goalmet {
	color: #356635;
}

.aefis-status-color.new {
	color: #337ab7;
}

.aefis-status-color.in.revision,
.aefis-status-color.pending.scores {
	color: #207994;
}

.aefis-status-color.archived {
	color: #465760;
}

.aefis-status-color.draft,
.aefis-status-color.terminated,
.aefis-status-color.goalmissed,
.aefis-status-color.cancelled,
.aefis-status-color.stopped,
.aefis-status-color.incomplete {
	color: #b94a48;
}

.aefis-status-color.completed,
.aefis-status-color.closed {
	color: #757575;
}

.aefis-status-color.pending,
.aefis-status-color.on.hold,
.aefis-status-color.pendingaction,
.aefis-status-color.pending.action,
.aefis-status-color.in.review,
.aefis-status-color.faculty.pending,
.aefis-status-color.pendingstart {
	color: #faa732;
}

.aefis-status-color.approval.pending,
.aefis-status-color.pending.results {
	color: #3285fa;
	background-color: transparent !important;
}

.aefis-status-color.active {
	color: #f15c75;
}

.aefis-status-color.inactive {
	color: #333;
}

/* text colors */

.aefis-text-color--light {
	color: #ffffff !important;
	color: var(--aefis-text-color--light) !important;
}

.aefis-text-color--dark {
	color: #000000 !important;
	color: var(--aefis-text-color--dark) !important;
}

.aefis-text-color--medium {
	color: #555555;
	color: var(--aefis-text-color--medium) !important;
}

.aefis-text-color--institution,
.aefis-text-color--institutional {
	color: #4caf50 !important;
	color: var(--aefis-background-color--institution) !important;
}

.aefis-text-color--external,
.aefis-text-color--accreditor {
	color: #c62828 !important;
	color: var(--aefis-text-color--external) !important;
}

.aefis-text-color--college {
	color: #673ab7 !important;
	color: var(--aefis-text-color--college) !important;
}

.aefis-text-color--department {
	color: #607d8b !important;
	color: var(--aefis-text-color--department) !important;
}

.aefis-text-color--admindivision {
	color: #673ab7 !important;
	color: var(--aefis-text-color--admindivision) !important;
}

.aefis-text-color--adminunit {
	color: #607d8b !important;
	color: var(--aefis-text-color--adminunit) !important;
}

/* developmental levels */

.aefis-level-1-color {
	background-color: #d4ffd4 !important;
	border: 2px solid #c1e2b3 !important;
}

.aefis-level-2-color {
	background-color: #ddd8f0 !important;
	border: 2px solid #bdb3e2 !important;
}

.aefis-level-3-color {
	background-color: #f0d8eb !important;
	border: 2px solid #e2b3d8 !important;
}

.aefis-level-4-color {
	background-color: #42a5f5 !important;
	border: 2px solid #1976d2 !important;
}

.aefis-level-1-color-table {
	background-color: #dff0d8 !important;
}

.aefis-level-2-color-table {
	background-color: #e0c0ff !important;
}

.aefis-level-3-color-table {
	background-color: #ffc0e0 !important;
}

.aefis-level-4-color-table {
	background-color: #90caf9 !important;
}

.aefis-level-1-color.dark {
	background-color: #c1e2b3 !important;
}

.aefis-level-2-color.dark {
	background-color: #bdb3e2 !important;
}

.aefis-level-3-color.dark {
	background-color: #e2b3d8 !important;
}

.aefis-level-4-color.dark {
	background-color: #1976d2 !important;
}

.aefis-level-1-font-color {
	color: #d4ffd4 !important;
}

.aefis-level-2-font-color {
	color: #ddd8f0 !important;
}

.aefis-level-3-font-color {
	color: #f0d8eb !important;
}

.aefis-level-4-font-color {
	color: #42a5f5 !important;
}

.aefis-level-1-font-color.dark {
	color: #acffac !important;
}

.aefis-level-2-font-color.dark {
	color: #bdb3e2 !important;
}

.aefis-level-3-font-color.dark {
	color: #e2b3d8 !important;
}

.aefis-level-4-font-color.dark {
	color: #1976d2 !important;
}

.aefis-level-1-border-color {
	border-color: #c1e2b3 !important;
}

.aefis-level-2-border-color {
	border-color: #ddd8f0 !important;
}

.aefis-level-3-border-color {
	border-color: #f0d8eb !important;
}

.aefis-level-4-border-color {
	border-color: #42a5f5 !important;
}

.aefis-level-1-border-color.dark {
	border-color: #acffac !important;
}

.aefis-level-2-border-color.dark {
	border-color: #bdb3e2 !important;
}

.aefis-level-3-border-color.dark {
	border-color: #e2b3d8 !important;
}

.aefis-level-4-border-color.dark {
	border-color: #1976d2 !important;
}

.aefis-level-1-container,
.aefis-development-level.introduction {
	border-left: 4px solid #c1e2b3 !important;
	padding: 2px 2px 2px 5px;
	background-color: #dff0d8;
}

.aefis-level-2-container,
.aefis-development-level.reinforcement {
	border-left: 4px solid #bdb3e2 !important;
	padding: 2px 2px 2px 5px;
	background-color: #f3e7ff;
}

.aefis-level-3-container,
.aefis-development-level.emphasis {
	border-left: 4px solid #e2b3d8 !important;
	padding: 2px 2px 2px 5px;
	background-color: #ffe7f3;
}

.aefis-level-4-container {
	border-left: 4px solid #1976d2 !important;
	padding: 2px 2px 2px 5px;
	background-color: #42a5f5;
}

.aefis-mapping-object-sub-title {
	font-size: 0.8em;
	color: #555;
	line-height: 8px;
}

.label.aefis-level-1 {
	background-color: #d4ffd4 !important;
	border: 1px solid #c1e2b3 !important;
	color: #111 !important;
}

.label.aefis-level-2 {
	background-color: #ddd8f0 !important;
	border: 1px solid #bdb3e2 !important;
	color: #111 !important;
}

.label.aefis-level-3 {
	background-color: #f0d8eb !important;
	border: 1px solid #e2b3d8 !important;
	color: #111 !important;
}

.label.aefis-level-4 {
	background-color: #42a5f5 !important;
	border: 1px solid #1976d2 !important;
	color: #111 !important;
}
