@media screen and (max-width: 1150px){

	.aefis-hide-mobile-tablet{
		display: none !important;
	}
	.aefis-show-mobile-tablet{
		display: block !important;
	}
}

@media screen and (max-width: 780px){
	.aefis-hide-mobile{
		display: none !important;
	}
	.aefis-show-mobile{
		display: block !important;
	}
	.mobile-container {
		display: none !important;
	}
}

@media print{
	.aefis-hide-mobile{
		display: none !important;
	}
	.aefis-show-mobile{
		display: block !important;
	}
	.mobile-container {
		display: none !important;
	}
}

.survey-header-subitems label {
	width: 90px !important;
}
.circle-text{
	line-height: 145px !important;
}
.circle-info, .circle-info-half {
	color: #444;
}
.aefis-stats-container {
	height: 150px !important;
	width: 150px !important;
}
.answer-options-results-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.step.small {
	font-size: 1.0em !important;
}

body {
	background-color: #ffffff !important;
}

.answer-options-response-results-item {
	border: 1px solid #ddd;
	padding: 0px;
	font-size: 0.7em !important;
	width: 100%;
	margin: 0px 0px 5px 0px;
}

div.answer-options-response-results-item-title{
	background-color: #ddd;
	font-weight: 500;
	text-align: center;
}

div.answer-options-response-results-item-content{
	text-align: center;
	min-height: 20px;
	font-size: 1.5em;
	color: #555;
	padding: 4px;
}

table.aefis-question-option-results-table {
	width: 100%;
	border-left:none;
	border-right: none;
	border-top: none;
	border-bottom:none;
}

table.aefis-question-option-results-table tbody tr:hover {
    background-color: transparent !important;
}

table.aefis-question-option-results-table thead th{
	background: #ddd !important;
	color: #333 !important;
	height: 24px !important;
}

table.table-condensed th, table.table-condensed td {
	padding: 1px 3px 1px 3px !important;
	font-size: 0.9em !important;
}

.table thead th {
	background-color: #eee !important;
}

div.aefis-survey-results-graph {
	display: inline-block;
	vertical-align: top;
	margin-right:15px;
}

.aefis-survey-results-stats-container {
	width: 165px;
}

.aefis-survey-results-stats-container label {
	width: 110px;
}

.aefis-survey-results-stats-container span {
	float:right;
	font-size: 0.8em !important;
}

.aefis-question-options-container {
	min-height: 250px !important;
	margin: 10px 1px 0px 5px !important;
}

span.aefis-question-metric-container {
	font-size: 0.7em !important;
}


div.aefis-form--header-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #1976d2 !important;
    padding-bottom: 100px;
}

div.aefis-form--header-container h3 {
    margin: 0px !important;
    padding: 20px 20px 0px 20px !important;
    font-size: 34px !important;
    line-height: 40px !important;
    font-weight: 300 !important;
    color: #ffffff !important;
}

div.aefis-form--header-container h5 {
    padding: 0px 20px;
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #ffffff !important;
    margin: 0px !important;
}

div.aefis-form--content-container {
    margin: 0px 20px 20px 20px;
    margin-top: -65px;
}
